:host {
  display: flex;
  flex-direction: column;
}

mat-card, mat-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  mat-divider {
    position: relative;
  }
}

app-pdfview {
  padding: 10px 0;
  flex-grow: 1;
}
