p {
  position: relative;
  text-align: center;
  margin: 8px 0;

  span.time {
    font-size: 2.5em;
    span {
      display: inline-block;
      min-width: 2ch;
    }
  }
  .buttonbar {
    margin-left: 1em;
    position: absolute;
    top: 2.5px;
  }
}
